// Place all the styles related to the admin::scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  height: calc(100% - 30px);
  width: auto;
  justify-content: center;
  display: flex;
}

#scenario-builder {
  display:none;
  height: 100%;
  overflow: auto;

  font-size: 12px;
  font-family: sans-serif;

  /*background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .1) 25%, rgba(0, 0, 0, .1) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .1) 25%, rgba(0, 0, 0, .1) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1) 76%, transparent 77%, transparent);
  background-size: 50px 50px;*/
}

#scenario-builder ul {
  align-self: center;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0 auto;
}

#scenario-builder li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;

  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

fc-node {
  margin: 40px;
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  width: 215px;
  padding: 14px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
  position: relative;
}

fc-terminator {
  background: #2ecc71;
  border-radius: 100px;
}

fc-process {
  background: #3498db;
  border-radius: 3px;
}

fc-node {
  border-radius: 3px;
}

fc-node.briefing {
  background: #20788e;
}

fc-node.question {
  background: #2b9bb7;
}

fc-add, fc-remove, fc-edit, fc-link, fc-link-remove {
  height: 42px;
  width: 42px;
  display: block;
  background: #333a3c;
  position: absolute;
  border-radius: 100px;
  color: #838383;
  z-index: 20;
  text-align: center;
  font-weight: bold;

  opacity: 0;
  color: #fff;
  line-height: 50px;

  transition: opacity 0.3s, background 0.3s ease-in-out;
}

fc-node:hover > fc-add,
fc-node:hover > fc-remove,
fc-node:hover > fc-edit,
fc-node:hover > fc-link,
fc-node:hover > fc-link-remove
{
  opacity: 1;
}

fc-edit {
  margin: -34px 0px 0px -34px;
}
fc-link, fc-link-remove {
  margin: 44px 0px 0px -34px;
}
fc-remove {
  margin: -34px 0px 0px 180px;
}
fc-add {
  margin: 44px 0px 0px 180px;
}

fc-add:hover, fc-edit:hover, fc-remove:hover, fc-link:hover {
  background: #141617;
  cursor: pointer; cursor: hand;
}

fc-link-remove:hover {
  background: #de3f3f;
  cursor: pointer; cursor: hand;
}

fc-node  { z-index:20; }
._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint { z-index:5; }
._jsPlumb_overlay { z-index:6; }

fieldset.roles {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 30px 0 1.5em 0 !important;
}

legend.roles {
    font-size: 24px;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.role:not(:first-child) {
  border-top: 1px solid #898989;
}
