<div class="col-lg-2">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Nieuw scenario</button>
  </div>
</div>
<div class="col-lg-6">
  <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
</div>
<div class="col-lg-12">
<table class="table table-striped">
  <thead class="row-head">
    <tr>
      <th>Projectnaam</th>
      <th>Beschrijving</th>
      <th>Sorteer</th>
    </tr>
  </thead>
  <tbody class="row-body">
    <tr> 
      <td>Project Zonnebloem</td>
      <td>Consult, Beste docent ik had een vraag...</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>