<div class="col-lg-2">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Nieuw scenario</button>
  </div>
</div>
<div class="col-lg-6">
  <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
</div>