html {
    height: 100%;
}

body {
  padding-top: 68px;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #333a3c;
  background-color: #fff;
}

.gradient {
    background: #89becb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjODliZWNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwNzg4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #89becb 0%, #20788e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#89becb), color-stop(100%,#20788e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #89becb 0%,#20788e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #89becb 0%,#20788e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #89becb 0%,#20788e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #89becb 0%,#20788e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89becb', endColorstr='#20788e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.btn-group-lg>.btn, .btn-lg {
	border-radius: 3px;
}

hr {
	background-image: url('../assets/hr.png');
	background-repeat: repeat-x;
	border: 0;
	height: 2px;
	margin: 50px 0 50px 0;
}

.alert {
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 89px;
  z-index: 999;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(255, 255, 255, 0.6);
  outline: 0 none;
  border: 1px solid #fff;
}

.row-head{
  background-color: #20788e;
  color: white;
  line-height: none;
}

.row-body{
  background-color: #d0e5ea;
}

.row-body tr{
  line-height: none;
}

.row-body tr:hover td {
  background-color: #c4d8dd;
}

button,
a.btn,
input.btn,
button.btn {
  border-radius: 4px;
  background-color: #20788e;
  border: 0;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding: 0 15px 0 15px;
  &:hover, &:active, &:focus {
    color: #fff;
    background-color: #2592ad;
  }
}

.field, .form-group, .form-group {
  input, select {
    background-color: #d0e5ea;
    border: 1px solid #d0e5ea;
    height: 38px;
    width: 300px;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
    border-radius: 0;
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: 1px solid #d0e5ea;
    }
  }
  label {
    margin-bottom: 0;
  }
  select option {
    padding: 10px;
  }
}

textarea {
  padding: 10px;
  min-width: 300px;
  min-height: 100px;
  &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: 1px solid #d0e5ea;
    }
}

.actions a {
  margin-right: 15px;
}

fieldset {
  border: 1px solid #20788e !important;
}

fieldset legend {
  color: #20788e;
}
