* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

p.notice, p.alert {
  position: absolute;
  margin: 30px 20px;
  clear:both;
}

select, textarea, input {
  background-color: #d0e5ea;
  border: 1px solid #d0e5ea;
}
